body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bootstrap-overrides{
  background-color: rgb(114, 70, 4);
}

a.navbar-brand.active, a.nav-link.active.active{
  font-family: 'Gasoek One', sans-serif;
  color: rgb(243, 210, 79);
}

button.btn.btn-secondary.dropdown-toggle {
  font-family: 'Gasoek One', sans-serif;
  border: none;
  background: none;
  color: rgb(243, 210, 79);
}

body {
  background-color: rgb(247, 233, 206);
}
