table.table-fill.table.table-shadow.table-striped, table.table.table-striped  {
    background-color: white;
    margin-top: 20px;
}

tr:hover{
    background-color: rgb(235, 234, 234);
}

thead>tr{
    pointer-events: none;
}
