table.table-fill.table.table-shadow.table-striped, table.table.table-striped  {
    background-color: white;
    margin-top: 20px;
}

tr:hover{
    background-color: rgb(235, 234, 234);
}

thead>tr{
    pointer-events: none;
}

thead {
    background-color: rgb(1, 130, 126);
}

th.text-left, th {
    color: white;
}

button#submit-btn, button#refresh-btn {
    background-color: rgb(1, 130, 126);
    border: 2px solid white;
    color: white;
    font-weight: 800;
}
